/* Default Menu */

.menu-container {
  height: 100vh;
  width: 2vw;
  position: fixed;
}

.menu {
  height: 100%;
  width: 0;
  z-index: 5;
  background: var(--background-menu);
  color: var(--font-color-menu);
  overflow-x: hidden;
  padding: 0;
  transition: all 300ms ease 0s;
}

.menu-options {
  margin-top: 3rem;
}

/* Active Menu */

.active .menu {
  width: 20rem;
  padding: 60px;
}

/* Specific Menu Items */

.menu h3 {
  font-size: 35px;
}

.menu-options li {
  margin-top: 1.5rem;
  margin-left: 10px;
  font-size: 20px;
}

.menu-options a {
  color: var(--font-color-menu);
}

.menu-options a:hover {
  color: var(--font-color-menu-hover);
}
