:root {
  --background-color-1: #000;
  --background-color-2: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    var(--background-color-1),
    var(--background-color-2)
  );
  background-attachment: fixed;
}

ul {
  list-style: none;
}
