:root {
  --transparent: #ececec00;

  /* Background */
  --background-color-1: #fff;
  --background-color-2: #44ceee;
  --background-menu: #59bb7a;
  --background-pending-series: #fff;
  --background-list-option: #b1c0d0;

  /* Fonts */
  --font-color-menu: #000;
  --font-color-menu-hover: #6dc8a1;

  /* Buttons */
  --background-interactive-1: #fff;
  --background-interactive-2: aliceblue;
  --background-interactive-hover-1: #fff;
  --background-interactive-hover-2: #97f2e9;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  background: var(--background-menu);
  min-width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
